.movies-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    width: 4rem;
    height: 4rem;
    z-index: 2;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &__display {
        pointer-events: none;
    }
    &__select {
        position: absolute;
        opacity: 0;
        width: 4rem;
        height: auto;
        font-size: 2rem;
    }
}
