.movies-filter {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.4rem;
    border-radius: 0.4rem;
    right: 1.4rem;
    width: 4rem;
    height: 4rem;
    background-color: gainsboro;
    z-index: 999;
    cursor: pointer;

    &__select {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
