.movies-filter {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.4rem;
    border-radius: 0.4rem;
    right: 1.4rem;
    width: 4rem;
    height: 4rem;
    background-color: gainsboro;
    z-index: 999;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;

    &__display {
        pointer-events: none;
    }
    &__select {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: auto;
        font-size: 2rem;
    }
}
